@media(max-device-width:1024px){
    .first-content {
        text-align: center;
        width: 100%;
        color: white;
        text-align: center;
        /* float: inline-end; */
        margin-top: 300px;
    }

    .first-content p {
        width: 100%;
        color: hsl(26.25deg 7.08% 55.69%);
        margin: 5px 0px;
        font-style: italic;
        font-size: 22px;
    }
    .first-content button{
        font-size: 15px;
        padding: 15px 50px;    
    }
    .navbar i{
        font-size: 46px;
    }
    .second-content {
        text-align: center;
        padding: 27px 0px;
    }
  
    
    .navbar img{
        width: 45%;
    }
    .top li{
        font-size: 25px;
        list-style: none;
    }
    .third-left{
        font-size: 20px;
    }
    .third-left h6{
        font-size: 30px;
    }
    .third-left {
        background-color: black;
        opacity: 0.8;
        height: 340px;
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        /* background: transparent; */
        margin: 25px 0;
        color: white;
        padding: 10px 37px;
        border-radius: 10px;
    }
    .fourth-head h2{
        font-size: 70px;
    }
    .fourth-head p {
        font-size: 20px;
        font-style: italic;
        width: 84%;
        margin: auto;
        color: grey;
        font-weight: 630;
    }
    .fifth {
        background-image: url(images/fifth.jpg);
        background-size: 100% 100%;
        height: 40vh;
    }
    .sixth-left h4 {
        font-weight: bold;
        font-size: 33px;
        margin: 15px 0px;
    }
    .sixth-left p{
        font-size: 20px;
    }
    .sixth-left a {
        color: hsl(46.6deg 44.76% 58.82%);
        font-weight: bold;
        font-size: 26px;
    }
    .seventh-content img{
        padding: 15px 15px;
    }
    .eight {
        width: 70%;
        margin: auto;
        text-align: center;
        margin-bottom: 55px;
    }
    .nine{
        width: 50%;
        margin: auto;
    }
    .nine-left {
        color: black;
        background-color: white;
        height: 350px;
        width: 100%;
        text-align: center;
        padding: 44px 0px;
        float: right;
        margin-top: 47px;
    }

    .nine-right {
        color: black;
        background-color: hsl(37.11deg 90.48% 49.41%);
        height: 350px;
        width: 100%;
        padding: 44px;
        float: left;
        margin-top: 29px;
        color: hsl(55.64deg 93.22% 88.43%);
    }
    .tenth{
        margin-top: 0px;
        padding: 15px 0px;
    }
    .tenth-content h3{
        font-size: 22px;
    }
}



/* mobile responsive css */

@media(max-device-width:768px){
    .first-content button {
        font-size: 15px;
        padding: 15px 38px;
    }
    .first-content {
        text-align: center;
        width: 100%;
        color: white;
        text-align: center;
        /* float: inline-end; */
        margin-top: 110px;
    }
    .first-content h1 {
        font-size: 50px;
    }
    .first-content p {
        width: 100%;
        color: hsl(26.25deg 7.08% 55.69%);
        margin: 5px 0px;
        font-style: italic;
        font-size: 19px;
    }
    .second-content p{
        width: 100%;
    }
    .second-content button{
        font-size: 20px;
    }
    .third-left{
        width: 100%;
    }
    .fourth-head h2 {
        font-size: 40px;
    }
    .fifth {
        background-image: url(images/fifth.jpg);
        background-size: 100% 100%;
        height: 83vh;
    }
    .nineth {
        background-image: url(images/fifth.jpg);
        height: 100%;
        background-size: cover;
        width: 100%;
        margin: auto;
    }
    .fifth-content {
        text-align: center;
        margin-top: 0;
    }
    .nine {
        width: 95%;
        margin: auto;
    }
    .nine-right {
        color: black;
        background-color: hsl(37.11deg 90.48% 49.41%);
        height: 100%;
        width: 100%;
        padding: 44px;
        /* float: left; */
        margin-bottom: 22px;
        margin-top: 29px;
        color: hsl(55.64deg 93.22% 88.43%);
    }
    .fifth-btn {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .second-content h3 {
        font-size: 26px;
        font-weight: 680;
    }
    .second-content button {
        font-size: 15px;
    }
    .third-left p {
        font-style: italic;
        font-size: 17px;
    }
    .fifth {
        background-image: url(images/fifth.jpg);
        background-size: 100% 100%;
        height: 100%;
    }
    .fifth {
        padding-top: 37px;
        color: white;
        padding: 27px 0px;
    }
    .sixth {
        padding: 20px 15px;
        width: 100%;
        margin: auto;
        padding-bottom: 45px;
    }
    .eight-content h1 {
        font-size: 35px;
        font-weight: 650;
    }
    .eight {
        width: 97%;
        margin: auto;
        text-align: center;
        margin-bottom: 27px;
    }    
    .seventh {
        margin: 0px;
        padding: 0;
    }
    .fourth-card h6 {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 5px;
        margin: 5px 0px;
    }
    .fourth-card p {
        font-style: italic;
        color: grey;
        padding: 0;
        margin: 0;
    }
    .fourth-head p {
        font-size: 16px;
        font-style: italic;
        width: 84%;
        margin: auto;
        color: grey;
        font-weight: 500;
    }
    .seven1 img{
        margin-left: 0;
        padding-left: 0;
    }
    .seven4 img{
        margin-right: 0;
        padding-right: 0;
    }
}